<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add new Data</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <link href="/styles/style.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <br>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top navbarChange">
  <!-- Brand -->
  <a class="navbar-brand" href="#">
      <img src="/images/xongold-logo.png" alt="" style="height:50px;width:200px">
  </a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collpase navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/addWarranty">Add Warrenty</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">Check Warrenty</a>
        </li>
    </ul>
</div> 
</nav>
<br/><br/><br/>
  <center>
    <h1 style="color:red"><%=message%></h1>
  </center>
  
  <h2>Add New Data</h2>
  <form action="/addWarranty" method="POST">
    <div class="form-group">
        <label for="name">Customer Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Customer Name" name="name" required>
    </div>
    <div class="form-group">
      <label for="name">Battary Model:</label>
      <input type="text" class="form-control" id="model" placeholder="Enter Battary Model" name="model" required>
    </div>
    <div class="form-group">
      <label for="city">Battery Serial Number:</label>
      <input type="text" class="form-control" id="serial" placeholder="Enter Battery Serial Number" name="serial">
    </div>
    <div class="form-group">
      <label for="city">Dealer Name:</label>
      <input type="text" class="form-control" id="serial" placeholder="Dealer Name:" name="dealer">
    </div>
    <div class="form-group">
      <label for="phone">Date Of Sale:</label>
      <input type="date" class="form-control" id="date" name="date">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
    <a href="/" class="btn btn-success" role="button">cancel</a>
  </form>
</div>

</body>
</html>